@import "tailwindcss";

@theme inline {
  --color-brand: #0057AD;
  --color-brand-dark: #0A2279;
  --color-brand-light: #0065CB;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  color: #1C1C1C;
  background: #ffffff;
}
